body{
    background-color: #EAEAEA;
}
a{
    color: rgb(70, 70, 70);
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari 和 Chrome */
	-o-transition: color 0.5s; /* Opera */
}
a:hover{
	color: #e59442;
	transition: color 0.5s;
    text-decoration: none;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari 和 Chrome */
	-o-transition: color 0.5s; /* Opera */
}
@media (min-width: 768px) and (max-width: 1200px){
	.container{
		width: 100%;
	}
}
.main-container{
    min-height: 500px;
}
/*.shadow-box{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}*/
.outline-box{
    outline: solid 1px #e7e7e7;
}
.navbar{
    border-radius: 0;
}

.small-logo, .navbar-brand>img{
    display: inline-block;
    height: 100%;
    padding-right: 20px;
    margin-top: -3px;
}

.sort-title{
    padding: 20px;
    background-color: #fff;
    /*
    background-image: url("/uploadimg/pic2.jpg");
    background-size: cover;*/
}
.sort-title h2{
    margin-top: 80px;
    margin-bottom: 30px;
    color: rgb(70, 70, 70);
    font-size: 3rem;
    font-weight: 500;
}
/*.sort-title h2:before, .sort-title h2:after{
    content: " ";
    display: inline-block;
    border-radius: 50%;
    border: 7px solid #000000;
    width: 7px;
    height: 7px;
    margin: 0 10px;
    margin-bottom: 3px;
}*/
.blog-block-picture, .blog-block-text{
    background: white;
    margin: 0;
}
.blog-block-picture{
    padding: 0;
    height: 420px;
    background-size: cover;
    background-position: center;
}
.blog-block-text{
    padding: 30px 60px;
    height: 420px;
    overflow: hidden;
      background-color: #F7F7F7;
}
.blog-block-text-first{
  background-color: #F7F7F7;
}
.blog-block-picture img{
    width: 100%;
}

.block-star{
    position: absolute;
    transform: rotate(45deg);
    background-color: transparent;
    height: 100px;
    width: 100px;
    top: -50px;
    left: -50px;
}
.block-star span{
    display: inline-block;
    color: #e59442;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 40px;
}
.blog-block-title{
    margin-bottom: 30px;
}
.blog-block-title a{
	width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}
.blog-block-author{
    margin-bottom: 30px;
}
.blog-block-line{
    width: 100px;
    border-top: 2px solid #e59442;
    margin-bottom: 20px;
}
.blog-block-article{
    height: 100px;
    overflow: hidden;
    line-height: 2em;
    margin-bottom: 30px;
}
/*.btn{
    border-radius: 0;
}*/

.wannamore{
    height: 545px;
    margin-top: 0;
    background-image: url("../img/wannamore.jpg");
    background-size: cover;
    background-position: bottom;
}
.wannamore h2{
    margin: 0;
    padding-top: 100px;
}

.pagination-arrow{
    padding: 50px 0;
    background-color: #F3F3F3;
}

.footer{
    margin-top: 150px;
    padding-top: 70px;
    background-color: #ffffff;
}
.footer-contact, .footer-frindlink{
    margin-top: 60px;
}
.footer-contact>h3, .footer-frindlink>h3{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 20px;
}
.footer-copy{
    margin-top: 50px;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}
.footer-copy p{
    margin-top: 30px;
    color: rgba(128, 128, 128, 0.5);
    margin-bottom: 30px;
}

#header-color{
    background-color: #2d2d2d;
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
}

.article-block{
    padding: 60px 30px 30px;
    background-color: white;
}
.article-title{
    font-size: 2em;
    color: #5f5f5f;
}
/*.article-title:after{
    content: " ";
    display: block;
    max-width: 100px;
    padding-top: 20px;
    border-bottom: solid 3px #e59442;
}*/
.article-info{
    margin-bottom: 50px;
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.5);
}
.article-info:after{
    content: " ";
    display: block;
    max-width: 100px;
    padding-top: 20px;
    border-bottom: solid 3px #e59442;
}
.article-content, .edui-editor-body .edui-body-container{
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 2em;
    color: #2b2b2b;
}
.article-content img{
	max-width: 100%;
}
.article-content p, .edui-body-container p{
    text-indent: 0;
}

@media screen and (min-width: 750px){
    .article-wrapper{
        margin: 0 50px;
    }
}

.comment-block{
    padding: 30px 60px;
    background-color: #ffffff;
    margin-left: 0;
    margin-top: 30px;
}
.comment{
    padding-bottom: 20px;
}
.comment-time{
    display: inline-block;
}
.comment-author:after{
    content: " ";
    display: block;
    padding-top: 10px;
    max-width: 60px;
    border-bottom: solid 2px #e59442;
}
.comment-cotent{
    margin-bottom: 20px;
}
.docomment-block{
    padding: 30px 60px;
    background-color: #ffffff;
}

@media screen and (max-width: 750px){
    .article-block{
        padding: 60px 30px;
    }
    .comment-block{
        padding: 30px 30px;
    }
    .docomment-block{
        padding: 30px 30px;
        margin-top: 30px;
    }
    .article-block, .comment-block, .docomment-block{
        margin-left: -15px;
        margin-right: -15px;
    }
}
.like-wrapper{
    width: 80px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.like{
    background-color: #e59442;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    font-size: 1.4em;
}

.wannamore-a:hover, .blog-block-title a:hover, .wannamore-a:focus, .blog-block-title a:focus{
    text-decoration: none;
	transition: color 0.5s;
	-moz-transition: color 0.5s; /* Firefox 4 */
	-webkit-transition: color 0.5s; /* Safari 和 Chrome */
	-o-transition: color 0.5s; /* Opera */
}
.h3-title{
    border-bottom: solid 1px #dcdcdc;
    margin-bottom: 30px;
    padding-bottom: 20px;
    color: #808080;
}
