.navbar{
    background-color: transparent;
    border: none;
    padding-top: 20px;
}
.navbar-brand{
    font-size: 2.5rem;
}
.navbar{
    font-size: 2rem;
}
.navbar .container{
    /*border-bottom: 1px solid white;*/
}
.navbar-right{
    margin-top: 4px;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
    color: rgba(255, 255, 255, 0.8);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.8);
}

/* hover */
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover{
    color: rgba(51, 51, 51, 0.7);
    transition: color 0.5s;
    -moz-transition: color 0.5s; /* Firefox 4 */
    -webkit-transition: color 0.5s; /* Safari å’Œ Chrome */
    -o-transition: color 0.5s; /* Opera */
}
.brand-word:before{
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(/img/lg.png);
    background-position: center;
    background-size: cover;
    vertical-align: sub;
    margin-right: 20px;
}

#header-img{
    position: absolute;
    width: 100%;
    height: 1130px;
    background-image: url("http://tuch.oss-cn-shanghai.aliyuncs.com/nheader.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.logo{
    margin-top: 180px;
    margin-bottom: 200px;
}
.logo img{
    margin-bottom: 10px;
    max-width: 100%;
}
